section.cta
  .container
    .cta-card
      h3.h3.cta-title Try for 7 days free
      p.cta-text Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back.
      form(action='', class='cta-form')
        input(
          type='email'
          name='email'
          placeholder='Your email address'
          )
        button(
          type='submit'
          class='btn btn-secondary'
          ) Try It Now